
@import url(https://fonts.googleapis.com/css?family=Heebo|Prompt&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&display=swap');

html {
  overflow-x: hidden;
  overflow-y: overlay;
}

* {
  box-sizing: border-box;
}


body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.166667px;
  line-height: 1.7em;
  background-color: #f7f7f7;
  cursor: default;
  display: block;
  margin: 0px;
  margin: 3em;
}


p {
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
}

a, h1, .h1, h3, .h3, h4, .h4, h5, .h5, h6, .h6, h7, .h7, h8, .h8 {
  color: #181818;

}

h1, .h1 {
  font-family: "Red Rose", sans-serif;
  font-size: 60px;
  line-height: 0px;
  font-weight: 700;
}

h2, .h2 {
  font-family: "Red Rose", sans-serif;
  font-size: 40px;
  line-height: 0px;
  font-weight: 700;
}

h3, .h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 0px;
  font-weight: 300;
  text-decoration: none;
}

h4, .h4 {
  font-family: "Arial", sans-serif;
  font-size: 25px;
  line-height: 20px;
  font-weight: 300;
  text-decoration: none;
  margin: 0em;
  font-stretch: 90%;
  transform: scaleX(0.8);
}

h5, .h5 {
  font-family: "Arial", sans-serif;
  font-size: 25px;
  line-height: 20px;
  font-weight: 300;
  text-decoration: none;
  margin: 0em;
  font-stretch: 90%;
  transform: scaleX(0.8);
}

h6, .h6 {
    font-family: "Times New Roman", Times, serif;
    font-size: 8px;
    line-height: 8px;
}

a {
  text-decoration: none;
}

/* --------------------------------------------- */

.pointer {cursor: pointer;}

.L {
  width: 30%;
  float: left;
  padding-right: 3em;
}

.R {
  float: right;
  width: 70%;
}

.spacetop {
  padding-top: 45px;
}

.boxx {
  float: left;
  width: 100%;
  padding-top: 27px;
}

.three {
  padding-bottom: 3em;
}

.boxie {
  float: left;
  width: 100%;
  height: 225px;
  margin-top: 0px;
  overflow: hidden;
  cursor: pointer;
}

.boxx2 {
  float: left;
  width: 700px;
  padding-top: 119px;
  padding-bottom: 0px;
}

.boxie2 {
  float: left;
  width: 900px;
  height: 800px;
  margin-top: 0px;
  overflow:  scroll;
}

.bord {
  border: 1px solid;
  border-radius: 12px;
  border-color: #000;
}


/* SCROLL */
/* width */
::-webkit-scrollbar {
    display: none;
}

/* ---------- navbar ----------*/
.squished {
  margin-left: -190px;
  padding-top: 3em;
}

.head {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.zd1 {
  z-index: -1;
}
.zd2 {
  z-index: -2;
}
.activenav{
  font-style: italic;
}

/* ---------- mouse over link ----------*/
.hovy:link {
}

.hovy:hover {
  font-style: italic;
}

/* ---------- images ----------*/
.imag {
  height: 100%;
}

.icon {
  float: left;
  width: 57px;
  height: 30px;
  margin-top: 0px;
  overflow: hidden;
  border-radius: 15px;
}
.igicon {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  overflow: hidden;
  border-radius: 15px;
}
/* ---------- footer ----------*/
.footer {
   position: fixed;
   bottom: 3em;
   width: 100%;
}

.port {
  overflow:auto !important;
-webkit-overflow-scrolling: touch !important;
}

--------------------------------------------------------------------------------------
