@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap');

html {
  overflow-x: hidden;
}


body {
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.166667px;
  line-height: 1.7vw;
  background-color: #f0f0f0;
  cursor: default;
  margin: 0;
}

* {
    box-sizing: border-box;
}

a, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, h7, .h7, h8, .h8 {
  color: #8f8f8f;
}

h1, .h1 {
  font-family: "Arial", sans-serif;
  font-size: 75px;
  line-height: 70px;
  font-weight: 900;
}

h2, .h2 {
  font-family: "Yantramanav", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin: 0;
}

h3, .h3 {
  font-family: "Arial", sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 900;
}

h4, .h4 {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
}

h5, .h5 {
  font-family: "Arial", sans-serif;
  font-size: 17px;
  line-height: 22px;
  font-weight: 100;
  text-decoration: none;
  margin: 0;
}

h6, .h6 {
    font-family: "Yantramanav", sans-serif;
    font-size: 19px;
    line-height: 19px;
    font-weight: 300;
    text-decoration: none;
    margin: 0;
}

a {
  font-family: "Arial", sans-serif;
  text-decoration: none;
}

p {
  font-family: "Arial", sans-serif;
  text-align: justify;
}

canvas {
  display: block;
  overflow: hidden;
  margin-bottom: -10px;
  margin-left: -46.75vw;
  margin-top: -48.5vh;
  position: absolute;
  pointer-events: none;
}

/*-------------scrollbar---------------------*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d1d1d1;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8f8f8f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}

/* -------- nobar --------*/

.nobar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nobar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* --------------------------------------------- */

.navlin {
  opacity: 0.5;
}

.stuff_container {
  margin-top: 2vh;
}

.portal {
  padding-top: 8vh;
  padding-right: 2vh;
  bottom: 0;

}

.todo {
  width: 100vw;
  height: 100vh;
}

.img_object {
  height: 20px;
}

.stretch {
  transition-timing-function: ease-out;
  transition: 0.3s;
}

.stretch:hover {
  transition-timing-function: ease-in;
  transform: scaleX(2.5);
  transition: 0.3s;
}

.pointer {cursor: poin;}

.L {
  float: left;
  text-align: left;
}

.R {
  float: right;
  text-align: right;
}

/* --------------------------------------------- */

.grid {
  background: url('../images/gridoo.png') repeat;
}

/* --------------------------------------------- */

/* ------------------------ for board pages --------------------- */

.boardsbox {
  width: 98vw;
  padding-left: 10vw;
  padding-right: 8vw;
  padding-top: 1vh;
}

.secboards {
  display: block;
  width: 100%;
  height: 92vh;
  float: left;
  overflow-y: scroll;
}

.draggable {
  width: 140px;
  height: 140px;
  border-radius: 10px;
  margin: 0 10px 10px 0;
  float: left;
}
.draggable.is-pointer-down {
  z-index: 2; /* above other draggies */
}
.draggable.is-dragging { opacity: 0.7; }



.picks {
  width: 350px;
}



/* ------------------------ for board pages --------------------- */

/* ------------------------ for portfolio pages --------------------- */
.docbox {
  width: 65vw;
  padding-left: 10vw;
  padding-top: 2vh;
}

.back {
  margin-top: -0.8vh;
  padding-bottom: 1vh;
  width: 100%;
  float: left;
  display: block;
}

.secdoc {
  display: block;
  width: 100%;
  height: 91vh;
  float: left;
  overflow-y: scroll;
}

.docimg {
  width: 100%;
}

/* ------------------------ for portfolio pages --------------------- */

.sec0 {
    width: 12vw;
    float: left;
    display: inline;
}

.sec {
  width: 15vw;
  float: left;
  display: inline;
}

.sec2 {
  width: 10vw;
  float: left;
  display: inline;
}

.sec3 {
  width: 45vw;
  float: left;
  display: inline;
  z-index: 0;
}

.sec4 {
  margin-top: -2vh;
  width: 9vw;
  float: left;
}

.secbigpage {
  margin-top: -2vh;
  width: 70vw;
  float: left;

  display: block;
  height: 100vh;
  overflow-y: scroll;
}

.foot {
  position: absolute;
  bottom: 0.75vw;
  right: 1vw;
  text-align: right;
}

.lefoot {
  position: absolute;
  bottom: 0.75vw;
  left: -0.75vw;
  text-align: left;
}

.sep {
  margin-right: 5vw;
}

.sepindv {
  margin-right: 2vw;
  border-right: 1px solid #8f8f8f;
  height: 100vh;
}

.iglogo {
  width: 100px;
  opacity: 0;
}

.reveal {
    display: none;
    position: absolute;
}

.navlink:hover {
  color: #00ff00;
}


.navlink:hover + .reveal {
  display: block;
}

.paragraphbox {
  width: 50%;
}

.desc {
  color: black;
  background-color: #f0f0f0;
  display: inline-block;
  line-height: 25px;
  margin-top: -10px;
  padding-bottom: 3px;
}

.button {
    background-color: #8f8f8f;
    border: none;
    color: black;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: default;
    float: right;
    margin-top: -68px;
    outline: none;
}

#portal {
  position: absolute;
}

.portal {
  width:45vw;
  height:100vh;
}

.box_container {
}

.separator {
  width: 100%;
  border-top: 1px solid #8f8f8f;
  display: none;
}

.avibox {
  width: 48%;
  height: 50vh;
  padding-top: 5vh;
  display: inline-block;
}

.avicontainer {
  border: 1px solid black;
  border-radius: 25px;
  background-color: #f0f0f0;
}

.avi {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.4)
}


/*----------------- english spanish buttons ----------------------*/

.en {
  display: none;
}

.es {
  display: block;
}

.forbutton {
    margin-top: -5px;
}

.fontbutton {
  font-size: 12px;
  line-height: 18px;
}

.fontbutton:hover {
  background-color: #c9c9c9;
}

.border-es {
  padding: 3px;
  padding-right: 5px;
  margin-right: 24px;
  border-left: 1px solid #8f8f8f;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  border-radius: 0px 10px 10px 0px;
}


.border-en {
  padding: 3px;
  padding-left: 5px;
  margin-right: -6px;
  border-left: 1px solid #8f8f8f;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-right: 1px solid #8f8f8f;
  border-radius: 10px 0px 0px 10px;
}

.active-button {
  background-color: #c9c9c9;
  color: #383838;
}





.tagbutton {
    font-size: 12px;
    line-height: 24px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    background-color: #c9c9c9;
    color: black;
}

.preloader {
position: absolute;
top: 0;
left: 0;
bottom:0;
right:0;
width: 100%;
height: 100vh;
z-index: 99999999;
background-image: url('../images/ig--loop.gif'); /* your icon gif file path */
background-repeat: no-repeat;
background-size: 90px 37px;
background-color: #f4f4f4;
background-position: center;
}

#stop-scrolling {
height: 100% !important;
overflow: hidden !important;
}


.m {
  display: none;
}

.graphxcontainer {
  position: relative;
  display: inline;
  vertical-align: middle
}

.graphximgs {
  width: 34vw;
  padding: 1vw;
  object-fit: contain;
  transition: 0.2s;
}


/* ---------- aliases marquee graphx -----------*/

.alias-slide {
  height: 25px;
  max-width: 21.75vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.alias-slide > div {
  height: 147px;
  width: 2250px;
  background: url(../images/alias_longer.png);
  background-size: 250px 25px;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.alias-slide .mover-1 {
  animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------moblie--------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1100px) {

  html {
  }

  body {
      margin: 5vh;
  }

  .separator {
    display: block;
  }

  .sec {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 75vw;
  }

  .sec2 {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 75vw;
  }

  .sec0 {
    padding-bottom: 30px;
    width: 85vw;
  }

.portal {
  width: 100vw;
}

.back {
  padding-top: 20px;
  padding-bottom: 15px;
}

  .bl {
    font-weight: 700;
  }

  a {
    font-size: 42px;
    line-height: 42px;
  }

h6, .h6 {
  font-size: 30px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 30px;
  line-height: 30px;
}

.paragraphbox {
  width: 100%;
}

  .iglogo {
    width: 130px;
    opacity: 1;
    margin-left: 3vw;
  }

#myCanvas {
  display: none;
}

.w {
  display: none;
}

.m {
  display: contents;
}

.secdoc {
  width: 83vw;
  height: 80vh;
}

.secexpand {
  width: vw;
  height: 80vh;
}


.docbox {
  padding-left: 3vw;
}

.secboards {
  width: 80vw;
  height: 78vh;
}

.boardsbox {
  padding-left: 2vw;
}

.navlink:hover + .reveal {
  display: none;
}


/* --------spanish english buttons mobile -----------*/

.forbutton {
  margin-top: -158px;
}

.fontbutton {
  font-size: 32px;
  line-height: 0px;
}

.fontbutton:hover {
  background-color: #c9c9c9;
}



.border-es {
  padding: 23px;
  padding-right: 25px;
  margin-right: 12px;
  border-radius: 0px 40px 40px 0px;
}


.border-en {
  padding: 23px;
  padding-left: 25px;
  border-radius: 40px 0px 0px 40px;
}


/*---- uhm.. above this please ----*/

}
